textarea {
    border-width: 1px;
    border-radius: 0.25rem;
    border-color: #e5e7eb;
    width: 100%;
    height: 55px;
}

.error-msg {
    font-size: 0.75rem;
    color: red;
}

.create-form {
    height: 0;
    overflow: hidden;
    opacity: 0;
    transition-duration: 0.7s;
}

.create-form.is-open {
    height: auto;
    opacity: 1;
}